* {
    border: border-box;
}

body {
    width: 100%;
    font-size: 1.125rem;
    font-family: Arial, sans-serif;
    background-color: rgba(25, 25, 100, 0.8);
    color: white;
}

h1, p {
    margin-top: 0px;
    margin-bottom: 0.25rem;
    text-align: center;
}

h1 {
    margin-top: 50px;
    font-weight: 400;
}

p {
    line-height: 1.225;
    font-weight: 200;
    font-style: italic;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgba(230, 230, 230, 0.8)
}

form {
    background-color: #1b1b2382;
    width: 55%;
    margin: 35px auto;
    padding: 40px 40px; 
    border-radius: 5px;
}

input, textarea, select {
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 1.125rem;
    padding-left: 10px;
    color: #495057;
}

label {
    display: block;
}

input, select {
    height: 2.2rem;
}

textarea, .submit {
    border-radius: 2px;
    padding-top: 10px;
}

.submit {
    font-size: 1.125rem;
    color: white;
    background-color: #37af65;
    height: 3rem;
    margin-top: 35px;
    padding-top: 0px;
    cursor: pointer;
}

select, .submit {
    width: 102%;
}

.fill-name, .fill-email, .fill-age {
    margin-bottom: 40px;
}

.container {
    margin-bottom: 10px;
}

.fill-recommend {
    margin-top: 40px;
}

.box {
    width: 20px;
    vertical-align: middle;
}

.fill-feature, .fill-skills, .suggestions {
    margin-top: 40px;
}